body{
    border: 0px;
    background-color: antiquewhite;
    padding: 0;
}
.total-body p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px ;
}


.total-body a{
    text-decoration: none;
    background-image: radial-gradient( rgb(180, 152, 132), rgb(241, 110, 15) );
    border-radius: 5px;
    padding: 8px 55px;
}
.section-one{
    display: flex;
    height: 19%;
    padding-left: 75px;
    margin-bottom: 150px;
    }
.headline{
    border-left: 15px solid orangered;
    
}
.head-color{
    color: chocolate;
}

.weitten{
    width: 50%;
    font-size: 100px;
}


.headline{ 
    font-size: 80px;
    margin-left: 5px solid orange;  
}

.photo {
    margin-left: 90px;
    width: 50%;
}
.section_two h1{
    font-size: 65px;
    font-family: Chalkduster, fantasy;
    text-align: center;
}
.section_two span{
    color: coral;
}
.second-section{
    display: flex;
    padding: 75px;
    margin-bottom: 150px;    
}

.mvg{
    background-color: blanchedalmond;
    width: 33%;
    margin: 2%;
    padding: 10px 10px;
    box-shadow: 10px 10px 20px black;
    border-radius: 20px;
}
.mvg h2{
    font-weight: bold;
    font-size: 35px;
}

.second-section img{
    height: 120px;
    width: 100px;
}
.last_two img{
    height: 350px;
}
.section-three{
    display:flex;
    padding: 85px;
    margin-right: 25px;
border-bottom: 150px;}

.section-three img{
    height: 350px;
    width: 500px;
    border-radius: 15px;
}
.three-paragraph{
    padding-left: 45px;
}
.three-paragraph h2{
    font-size: 35px; 
}


.section-four{
    display:flex;
    padding: 75px;
    margin-left: 25px;
    border-right: 15px;
}
.section-four img{
    height:350px;
    width:500px;
    
    border-radius: 15px;
}
.four-paragraph{
    margin-right: 30px;
}
.four-paragraph h2{
    font-size: 35px;
   ;
}

.section-five{
   
    background-color: rgb(0, 0, 0);
    height: 100px;
}
.section-five h3{
    color: white;
    font-size: 25px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
}
.section-five span{
    color: orange;
}
.section-five p{
    color:papayawhip;
    text-align: center;
    
    font-family: Comic Sans MS, Comic Sans, cursive;
}